<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a [routerLink]="['/']" class="navbar-item logo">Angular Todo App</a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a [routerLink]="['/']" class="navbar-item">Todos</a>
      <a [routerLink]="['/active']" class="navbar-item">Active</a>
      <a [routerLink]="['/completed']" class="navbar-item">Completed</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-info" target="_blank" href="https://github.com/andreviallon/todo-app">
            <strong>See Project on GitHub</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
