:host {
  display: block;
}

.columns {
  margin: 2rem 0;
  align-items: flex-end;
  justify-content: space-between;
}

.todo-input-container {
  flex-grow: 1;
}

button {
  margin-left: 1rem;

  @media only screen and (max-width: 768px) {
    margin-top: 0.5rem;
  }
}

.selected {
  width: 100%;
  max-width: initial;
}

.select {
  width: 100%;

  select {
    width: 100%;
    max-width: initial;
  }
}
