<div class="todos-list container is-fluid">
  <div class="columns">

    <div class="column">
      <div class="field">
        <label class="label">Todo</label>
        <div class="control">
          <input class="input" type="text">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <input class="input" type="text">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <label class="label">Priority</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Small</option>
              <option>Medium</option>
              <option>Strong</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
<button class="button is-link">Add Todo</button>
      </div>

    </div>

  </div>
</div>
