<div class="todos-list container is-fluid">
  <form #todo="ngForm" (ngSubmit)="addTodo(name.value)">
    <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Todo</label>
            <div class="control">
              <input #name class="input" type="text"/>
            </div>
          </div>
        </div>
        <div class="column is-2">
          <div class="field">
            <button class="button is-link is-pulled-right">Add Todo</button>
          </div>
        </div>
    </div>
  </form>
</div>
