<div class="container is-fluid">
  <div class="table-container">

    <table *ngIf="(todos$ | async).length" class="table is-fullwidth">
      {{ todos.name }}
      <thead>
        <tr>
          <th class="column is-four-fifth">Todo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="todo-row" *ngFor="let todo of (todos$ | async); let i = index">
          <td>
            <div>
              <label class="checkbox">
                <input #checked type="checkbox" (click)="checkTodo(i)" [checked]="todo.checked">
                <p [ngClass]="{'isChecked': todo.checked}">{{ todo.name }}</p>
              </label>
            </div>
          </td>
          <td>
            <button class="button is-danger is-light is-pulled-right" (click)="removeTodo(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 *ngIf="!(todos$ | async).length">You're all caught up!</h2>
  </div>
</div>
