<div class="container is-fluid">
  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Todo</th>
          <th>Category</th>
          <th>Priority</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="todo-row" *ngFor="let todo of todos">
          <td>{{ todo.name }}</td>
          <td>{{ todo.category }}</td>
          <td>{{ todo.priority }}</td>
          <td>
            <button class="button is-danger is-pulled-right">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
