<div class="container is-fluid">
  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th class="column is-four-fifth">Todo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="todo-row" *ngFor="let todo of (todos$ | async); let i = index">
          <td>{{ todo.name }}</td>
          <td>
            <button class="button is-danger is-pulled-right" (click)="removeTodo(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
